.contactModalWrapper {
  background-color: transparent !important;
  vertical-align: bottom !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
  transition: all .5s ease-in;
}

.servicesModalWrapper {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
}

@keyframes customEnterModalAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes customLeaveModalAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}