.secondSection {
  display: grid;
  padding: 0 24px;
  max-width: 1388px;
  margin: 0 auto 185px;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(272px, 292px));
}

.item {

}

.icon {
  width: 64px;
  margin-bottom: 32px;
}

.title {
  color: #242424;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.title span {
  color: #068DAA;
}

.description {
  color: #242424;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1550px) {
  .secondSection {
    max-width: 1230px;
  }
}

@media(max-width: 1080px) {
  .secondSection {
    grid-gap: 80px;
    max-width: 720px;
    text-align: center;
    margin-bottom: 155px;
    grid-template-columns: 1fr;
  }

  .icon {
    width: 55px;
  }
}