.sliderWrap {
  grid-area: slider;
  display: flex;
  padding: 38px 0;
  margin: 0 128px;
  border: 1px solid #C8E5EB;
}

.sliderItemsWrap {
  max-width: 700px;
  margin-left: -64px;
}

.navigationOfSlider {
  display: flex;
  margin-left: 115px;
  align-items: center;
  justify-content: center;
}

.navigationButton {
  width: 56px;
  height: 56px;
  display: flex;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-radius: 64px;
  justify-content: center;
  border: 1px solid #ECECEC;
  background-color: transparent;
}

.navigationButton:after {
  top: 0;
  width: 10px;
  content: '';
  height: 1px;
  position: absolute;
  border-radius: 100%;
  background-color: #068DAA;
}

.item {
  display: flex;
  align-items: center;
}

.imgWrap {
  margin-right: clamp(10px, 10vw, 60px);
}

.img {
  width: 240px;
  height: 180px;
}

.title {
  line-height: 1;
  font-size: 40px;
  color: #242424;
  margin-bottom: 24px;
  font-weight: normal;
  font-family: 'Roboto Slab', serif;
}

.description {
  font-size: 16px;
  color: #242424;
  font-weight: 300;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
}

.more {
  line-height: 1;
  font-size: 20px;
  color: #242424;
  text-transform: capitalize;
  text-decoration-line: underline;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 1280px) {
  .navigationOfSlider {
    margin-left: 32px;
  }

  .sliderWrap {
    margin: 0 64px;
  }

  .sliderItemsWrap {
    margin-left: -28px;
  }

  .title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .more {
    font-size: 12px;
    line-height: 20px;
  }

  .sliderItemsWrap {
    max-width: 502px;
  }

  .img {
    width: 160px;
    height: 120px;
  }

  .imgWrap {
    margin-right: clamp(10px, 5vw, 50px);
  }
}

@media(max-width: 1080px) {
   .more {
    margin-bottom: 113px;
  }

  .imgWrap {
    margin-right: clamp(10px, 5vw, 40px);
  }

  .item .img {
    margin: auto;
    width: 100%;
    height: auto;
  }

  .title {
    margin-top: 40px;
  }

  .navigationOfSlider {
    margin: 0;
  }

  .sliderWrap {
    padding: 0;
    margin: 0 20px 0 40px;
  }
}

@media(max-width: 680px) {

  .item {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 280px;
  }

  .imgWrap {
    margin-right: 0;
  }

  .navigationOfSlider {
    margin: 0;
  }

  .sliderItemsWrap {
    max-width: 300px;
    margin: -15px auto 0;
  }

  .more {
    margin-bottom: 32px;
  }

  .sliderWrap {
    padding: 0 0 30px;
    margin: 0 10px 58px 0px;
    flex-direction: column;
  }
}