.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  padding: 24px 64px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(253 253 253 / 90%);
}

.rightBlock {
  display: flex;
  align-items: center;
}

.mobile {
  font-size: 16px;
  color: #242424;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}

.orderService {
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  color: #FDFDFD;
  line-height: 12px;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;

  margin-left: 40px;
  padding: 16px 24px;
  border: 1px solid #068DAA;
  background-color: #068DAA;
}

.buttonContact {
  font-size: 10px;
  font-weight: 600;
  color: #FDFDFD;
  line-height: 10px;
  padding: 7px 16px;
  border-radius: 4px;
  text-transform: capitalize;
  border: 1px solid #068DAA;
  background-color: #068DAA;
  font-family: 'Open Sans', sans-serif;
}


@media(max-width: 1280px) {
  .header {
    padding: 24px 32px;
  }
}

@media(max-width: 1080px) {
  .header {
    padding: 14px;
  }

  .orderService {
    margin-left: 18px;
  }
}

@media(max-width: 767px) {
  .orderService {
    margin-left: 0;
  }

  .header {
    padding: 10px 12px;
  }

  .logoIcon {
    width: 106px;
    height: 32px;
  }
}