.ourErvice {
  max-width: 1220px;
  margin: 70px auto 160px;
}

.ourErviceWrap {
  display: grid;
  grid-gap: 0 76px;
  min-height: 576px;
  align-items: center;
  border: 1px solid #C8E5EB;
  grid-template: 'img titleAndDescription';
  grid-template-columns: minmax(240px, 520px) minmax(320px, 512px);
}

.imgWrap {
  left: -65px;
  position: relative;
}

.img {
  max-width: 100%;
}

.titleAndDescription {
  grid-area: titleAndDescription;
}

.title {
  font-size: 48px;
  line-height: 52px;
  padding-top: 25px;
  margin-bottom: 32px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.title span {
  color: #068DAA;
}

.description {
  font-size: 16px;
  font-weight: 300;
  color: #242424;
  line-height: 32px;
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
}

.more {
  font-size: 20px;
  color: #242424;
  line-height: 20px;
  text-transform: capitalize;
  text-decoration-line: underline;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 1550px) {
  .ourErvice {
    max-width: 100%;
    margin: 70px 0 160px;
    margin-left: 128px;
  }
}

@media(max-width: 1280px) {
  .ourErvice {
    margin-left: 65px;
  }

  .title {
    font-size: 40px;
    line-height: 52px;
  }

  .img {
    width: 100%;
    max-width: 546px;
  }

  .ourErviceWrap {
    grid-gap: 0 0;
  }

  .ourErviceWrap {
    padding-right: 25px;
    grid-template-columns: minmax(240px, 546px) minmax(320px, 1fr);
  }
}

@media(max-width: 1080px) {
  .img {
    max-width: 100%;
  }

  .imgWrap {
    left: -35px;
  }
}

@media(max-width: 768px) {

  .ourErvice {
    margin-left: 0;
    margin-bottom: 120px;
  }

  .ourErviceWrap {
    display: block;
    border: none;
    padding: 0;
  }

  .imgWrap {
    left: 0;
    text-align: center;
  }

  .titleAndDescription {
    padding: 0 20px;
  }

}

@media(max-width: 680px) {
  .ourErvice {
    margin-top: 0;
  }

  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .description {
    font-size: 14px;
    line-height: 28px;
  }

  .more {
    font-size: 14px;
    line-height: 20px;
  }
}